/* ==========================================================================
   mobile Navigation
   ========================================================================== */
header{
    position: relative;
}

#logo{
    transition: all 0.3s ease-in-out;
}

.active-menu #logo .color-primary{
    fill: rgba(255, 255, 255, 0.8);
    stroke: rgba(255, 255, 255, 0.8);
}
.active-menu #logo .color-secondary{
    display: none;
}

#logo circle{
    fill: none!important;
}

#logo-brand{
    overflow: hidden;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    z-index: 2;
}

#logo-brand #logo{
    height: 40px;
    width: auto;
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.logo-text .logo-title{
    font-size: 11px;
    letter-spacing: 0.30em;
    color: var(--alternativecolor);
    transition: color 0.3s;
}

.logo-text .logo-name{
    font-size: 13px;
    color: var(--maincolor);
    text-transform: uppercase;
    transition: color 0.3s;
}

.active-menu .logo-title{
    color: rgba(255, 255, 255, 0.8);
}

.active-menu .logo-name{
    color: rgba(255, 255, 255, 0.8);
}

/**menu**/
.menu-toggler{
    cursor: pointer;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--alternativecolor);
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 2;
}

.active-menu .menu-toggler{
    color: rgba(255, 255, 255, 0.8);
}

.toggler-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all ease-out 200ms;
    transition: all ease-out 200ms;
    cursor: pointer;
    z-index: 2;
}

.active-menu .hamburger {
    background: #fff;
}

.menu-toggler:hover, .menu-toggler:hover .hamburger{
    color: var(--maincolor);
}

.menu-toggler:hover .hamburger{
    background: var(--maincolor);
}

.active-menu .menu-toggler:hover, .menu-toggler:hover .hamburger{
    color: var(--alternativecolor);
}

.active-menu .menu-toggler:hover .hamburger{
    background: var(--alternativecolor);
}

.hamburger {
    width: 25px;
    height: 3px;
    background: var(--alternativecolor);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: all 200ms;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.active-menu .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.active-menu .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.active-menu .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}


/* ==========================================================================
   nav menu
   ========================================================================== */


header nav{
    background: rgba(15, 20, 30, 0.99);
    transition: all 0.4s cubic-bezier(.87,.3,.58,.82);
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100vw;
    z-index: 1;
}

header nav li{
    transition: color 0.3s;
}

header nav .active, header nav li:hover{
    color: #fff;
}

header nav h2, header nav ul{
    opacity: 0;
    transition: all 0.3s linear 0.45s;
}

.active-menu  nav h2, .active-menu nav ul{
    opacity: 1;
}

header nav h2{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

header nav ul {
    font-size: 4rem;
    font-weight: bold;
}
header nav ul li+li{
    margin-top: 1rem;
}

.active-menu nav{
    height: 100vh;
}

.copy-text{
    position: absolute;
    bottom: 20px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}

