.projects{
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.projects h2{
    padding: 0 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--alternativecolor);
    margin-bottom: 3rem;
}

.guide {
    width: 50px;
    height: 50px;
}

.mouse {
    width: 40px;
    height: 40px;
    transform-origin: center bottom;
    animation-name: swinging;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.mouse-click,
.mouse-large-click,
.mouse-small-click {
    opacity: 0;
    transform-origin: center center;
    animation-name: click;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse svg g{
    fill: var(--maincolor);
}

@keyframes swinging{
    0%{transform: rotate(-10deg) translate3d(-15px, 0, 0) }
    100%{transform: rotate(10deg) translate3d(15px, 0, 0) }
}

@keyframes click {
    0% { opacity: 0 }
    40% { opacity: 1 }
    100%{ opacity: 1 }
}

.project-wrapper{
    position: relative;
}

.project-item {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.project-item .project-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project-item .project-banner .banner-image {
    background: #dedede;
    max-width: 700px;
    overflow: hidden;
    transition: all 1s ease-out;
}

.project-item .project-banner .banner-infos {
    width: 30%;
    padding-left: 1rem;
    height: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.project-item .project-banner .project-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.project-item .project-banner .project-details {
    overflow: hidden;
    transition: all 1s ease-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item .project-banner .project-details h4{
    text-transform: uppercase;
    color: var(--alternativecolor);
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

.project-item .project-banner .project-details > div{
    margin-top: .5rem;
}

.project-item .project-banner .project-details ul li{
    color: var(--maincolor);
    font-size: 1rem;
}

.project-item .project-link a{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: .5rem;
    color: var(--maincolor);
    display: inline-flex;
    align-items: center;
}


@media all and (max-width: 1024px){

    .project-item .project-banner .banner-image {
        max-width: 550px;
    }

    .project-item .project-banner .banner-infos {
        height: 350px;
    }

}

@media all and (max-width: 790px){

    .project-item .project-banner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .project-item .project-banner .banner-image {
        max-width: 350px;
    }

    .project-item .project-banner .banner-infos {
        width: 100%;
        text-align: center;
    }


}

@media all and (max-width: 480px){

    .project-item .project-banner .banner-infos {
        width: 100%;
        text-align: center;
    }


    .project-item .project-banner .project-details {
        flex-direction: row;
    }

    .projects h2{
        margin-bottom: 0;
    }

    .project-item {
        margin-bottom: 0;
    }

    .project-item .project-banner .project-title {
        font-size: 2rem;
        margin-bottom: 0rem;
    }

    .project-item .project-banner .project-details h4 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .project-item .project-banner .project-details ul li {
        font-size: 12px;
    }

    .project-item .project-banner .project-details > div{
        width: 30vw;
        padding: 0 0.3em;
    }
    .project-item .project-banner .project-details{
        flex-wrap: wrap;
    }

    .project-item .project-link {
        width: 100% !important;
        text-align: center;
    }
    .project-item .project-banner .banner-infos {
        padding: 0 0.3em;
        height: max-content;
    }

}
