.skills{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.skills .pp{
    overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: var(--maincolor);
    margin-bottom: 1rem;
}

.skills h1{
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--maincolor);
    margin-bottom: 2vh;
}

.skills .description {
    min-width: 300px;
    width: 300px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.skills .description .text-content p{
    font-size: 1.1rem;
    color: var(--alternativecolor);
    margin-bottom: 1rem;
}

.skills-shape{
    width: calc(100% - 320px);
    min-width: 800px;
}
